/* General */
body {
  font-family: 'Arial', sans-serif;
  background-color: #e3c7e0;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 3em;
  color: #003580; /* Color de la UE */
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  color: #003580;
  margin-top: 40px;
}

form {
  background-color: #b2a9ef;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

label {
  display: block;
  font-size: 1.2em;
  margin: 10px 0;
}

input, select {
  padding: 10px;
  width: 100%;
  font-size: 1.1em;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #3b29b3; /* Color de la UE */
  color: white;
  border: none;
  padding: 15px;
  width: 100%;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6e5af1;
}

#resultsList {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 1.1em;
}

#resultsList li {
  background-color: #b2a9ef;
  padding: 15px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#resultsList li span {
  font-weight: bold;
}

/* Sección de login */
#loginSection {
  text-align: center;
  margin-top: 50px;
}

#loginSection input {
  padding: 10px;
  width: 70%;
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#loginSection button {
  background-color: #003580;
  color: white;
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
}

#loginSection button:hover {
  background-color: #6e5af1;
}

#voteSection {
  display: none;
}

#voteForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

/* Agregar imágenes de las banderas */
.flag-icon {
  width: 20px;
  height: 15px;
  margin-right: 10px;
}

.score-block {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.score-block label {
  display: block;
  width: 200px;
  font-weight: bold;
}

.score-options {
  display: flex;
  justify-content: start;
  gap: 8px;
  flex-wrap: nowrap;
}

.score-btn {
  width: 45px;
  height: 45px;
  font-size: 1.2rem;
  padding: 0;
  border: 2px solid #aaa;
  border-radius: 6px;
  background-color: #bd0398;
  cursor: pointer;
  transition: all 0.2s;
}

.score-btn:hover {
  background-color: #6e5af1;
  border-color: #666;
}

.score-btn.active {
  background-color: #3b29b3;
  color: #fff;
  border-color: #000;
}
